<div class="stats-panel"><br/>
    <button *ngIf="this.pref.featureSupported('dashboard')" mat-button (click)="showDashboard()">Open Dashboard</button>

    <div class="graph-wrapper" *ngIf="this.pref.featureSupported('dashboard')">
        <app-widget-timeseries  [height]="500" [id]="'region-graph-count-'+selection.asId()"
                                [state]="graphStateForRegions('count')"
                                ></app-widget-timeseries>
    </div>


    <button mat-button class="app-stats-panel-count-open-in-analytics"  *ngIf="this.pref.featureSupported('analytics')"(click)="expandCountGraph()">Open in Analytics</button>
    <button mat-button  class="app-stats-panel-count-add-to-dashboard" *ngIf="this.pref.featureSupported('dashboard')"
            (click)="this.dash.addCard('timeseries', 'Count for '+regionText(),
        2,2,graphStateForRegions('count'));showDashboard()">Add to
        Dashboard
    </button>
    <div class="graph-wrapper">
      <app-widget-timeseries  [height]="500" [id]="'region-graph-exceedance-'+selection.asId()"
                              [state]="graphStateForRegions('exceedance')"
      ></app-widget-timeseries>

        <button mat-button class="app-stats-panel-exceedance-open-in-analytics" *ngIf="this.pref.featureSupported('analytics')" (click)="expandExceedanceGraph()">Open in Analytics</button>
        <button mat-button class="app-stats-panel-exceedance-add-to-dashboard"  *ngIf="this.pref.featureSupported('dashboard')"
                (click)="this.dash.addCard('timeseries', 'Exceedance for '+regionText(),
            1,1,graphStateForRegions('exceedance'));showDashboard()">Add to
            Dashboard
        </button>
    </div>

</div>
