<div class="stats-panel"><br/>
    <button *ngIf="this.pref.featureSupported('dashboard')" mat-button (click)="showDashboard()">Open Dashboard</button>

    <div class="graph-wrapper" *ngIf="this.pref.featureSupported('dashboard')">
        <app-widget-timeseries  [height]="500"
                                [state]="graphStateForRegions('count')"
                                ></app-widget-timeseries>
    </div>


    <button mat-button (click)="expandCountGraph()">Open in Analytics</button>
    <button mat-button *ngIf="this.pref.featureSupported('dashboard')"
            (click)="this.dash.addCard('timeseries', 'Count for '+regionText(),
        2,2,graphStateForRegions('count'));showDashboard()">Add to
        Dashboard
    </button>
    <div class="graph-wrapper">
      <app-widget-timeseries  [height]="500"
                              [state]="graphStateForRegions('exceedance')"
      ></app-widget-timeseries>


        <button mat-button (click)="expandExceedanceGraph()">Open in Analytics</button>
        <button mat-button *ngIf="this.pref.featureSupported('dashboard')"
                (click)="this.dash.addCard('timeseries', 'Exceedance for '+regionText(),
            1,1,graphStateForRegions('exceedance'));showDashboard()">Add to
            Dashboard
        </button>
    </div>
</div>

