# This file is used by the build system to adjust CSS and JS output to support the specified browsers below.
# For additional information regarding the format and rule options, please see:
# https://github.com/browserslist/browserslist#queries

# You can see what browsers were selected by your queries by running:
#   npx browserslist

last 2 and_chr versions
last 2 and_ff versions
last 2 android versions
last 3 chrome versions
last 3 edge versions
last 3 firefox versions
last 3 ios_saf versions
last 3 safari versions
