<div class="dashboard-card-toolbar">
    <button *ngIf="textFilter || regionFilter" mat-raised-button (click)="openDialog()">Configure</button>

</div>
<app-timeseries-chart (ready)="updateGraph(query)"
                      [updating]="updating"
                      [error]="error"
                      [noData]="noData"
                      yLabel="Tweets"
                      [data]="results"
                      [height]="height-190"
                      class="twitter-timeseries-chart"
></app-timeseries-chart>