@import "../../styles";

$right-hand-margin: 1vw;
$top-margin: 1vw;
$bottom-margin: 1vw;

::ng-deep {
    .leaflet-control-container {
        display: none;
    }

    .leaflet-new-tweet {
        transition: stroke 100ms ease-in-out;
    }

    .blink-on {
        .leaflet-new-tweet {
            stroke: rgba(255, 255, 255, 1.0);
            stroke-width: 0.07vw;
        }

    }

    .blink-off {
        .leaflet-new-tweet {
            stroke: rgba(0, 0, 0, 0.8);
            stroke-width: 0.07vw;
        }

    }

    .app-map-region-geography {
        transition: opacity 1000ms ease-in-out, fill 400ms ease-in-out;
    }

}

.public-display-map-date {
    font-size: 2vw;
    color: white;
    text-shadow: 0 0 0.3vw rgba(100, 100, 100, 0.7);
    position: absolute;
    top: 7vh;
    left: 2vw;


}

.public-display-map-title {
    font-size: 2.5vw;
    color: white;
    text-shadow: 0 0 0.3vw rgba(100, 100, 100, 0.7);
    position: absolute;
    top: 2vh;
    left: 2vw;
}


.app-pd-date-range-display {
    left: 2vw;
    right: 2vw;
    position: absolute;
    bottom: 2vh;
}

app-pd-tweet-list {
    position: absolute;
    top: 12vh;
    left: 2vw;
    bottom: 6vh;
    min-width: 25vw;
}

//The Map
.map-surround {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    pointer-events: none;
    box-shadow: inset 0 0 0.15vw 0.05vw rgba(0, 0, 0, 0.3);
}

.map {
    overflow: hidden;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute !important;
    z-index: -10;
    pointer-events: all;

}


.map-outer {
    overflow: hidden;
    display: block;
    position: absolute;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}



.map-spinner {
    top: 50vh;
    bottom: 50vh;
    left: 50vw;
    right: 50vw;
    padding-left: -100%;
    padding-top: -100%;
    position: fixed;
    z-index: 20000;
    opacity: 0.4;
}

.map-progress {
    top: 0;
    left: 0;
    right: 0;
    //margin-left: -100%;
    //margin-top: -100%;
    position: absolute;
    z-index: 1000;
}

.country-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
}


.app-loading-progress {
    bottom: 0;
    left: 0;
    right: 0;
    //margin-left: -100%;
    //margin-top: -100%;
    position: absolute;
    z-index: 1000000000000;
}
