$right-hand-margin: 24px;
$top-margin: 24px;
$bottom-margin: 36px;
$drawer-width: 568px;

.draw-close-button {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 100;

}

//The Map
.map-surround {
  height: 100%;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  position: absolute;
  pointer-events: none;
  box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.3);
}

.map {
  height: 100%;
  width: 100%;
  overflow: hidden;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  position: absolute;
  z-index: -10;
  pointer-events: all;

}


.map-outer {

  display: block;
  position: absolute;

  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

.map-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: left;
  font-size: 14px;

  .map-toolbar-separator {
    display: flex;
    min-width: 2em;
  }

  .map-toolbar-btn {
    display: flex;
  }

  .date-slider {
    display: flex;
    z-index: 10;
    //border: 1px solid red;
    margin-right: 2em;
    //margin: 2em auto;
    date-range-slider {
      max-width: 30vw;
      min-width: 30vw;
      display: block;
      margin: 0em auto;
      min-height: 1em
    }
  }

}

.app-tweet-drawer {
  max-width: $drawer-width;
  width: $drawer-width;
  min-width: $drawer-width;
  max-height: 100%;
  overflow: hidden;
  background: rgb(250, 250, 250);
  //box-shadow: 0px 0px 4px rgba(17, 17, 17, 0.63);;
  //overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  @media screen and (max-width: 768px) {

  }

}



.map-actions {
  top: 2em;
  max-height: 3em;
  min-height: 3em;
  position: absolute;
  background: none;
  z-index: 10;
  max-width: 3em;
  min-width: 3em;
  right: $right-hand-margin;
  .mat-card {
    padding: 4px !important;
  }
}

.legend {
  max-height: 8em;
  min-height: 6em;
  top: 7em;
  position: absolute;
  background: none;
  //border: 3px solid red;
  z-index: 0;
  max-width: 6em;
  min-width: 3em;
  right: $right-hand-margin;


}

.map-spinner {
  top: 50vh;
  bottom: 50vh;
  left: 50vw;
  right: 50vw;
  padding-left: -100%;
  padding-top: -100%;
  position: fixed;
  z-index: 1000;
  opacity: 0.4;
}

.map-progress {
  top: 0;
  left: 0;
  right: 0;
  //margin-left: -100%;
  //margin-top: -100%;
  position: absolute;
  z-index: 1000;
}



