<mat-sidenav-container class="map-outer">
  <mat-sidenav class="tweet-drawer" #sidenav [(opened)]="tweetsVisible" disableClose mode="side">
    <button mat-icon-button class="draw-close-button" aria-label="Close" (click)="sidenav.toggle()">
      <mat-icon>close</mat-icon>
    </button>
    <div class="tweets-outer">
      <twitter-panel [count]="tweetCount" [region]="selectedRegion" [exceedenceProbability]="exceedenceProbability"
                     [embeds]="embeds" [showHeaderInfo]="twitterPanelHeader"
                     [showTimeline]="showTwitterTimeline"></twitter-panel>

    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="map-surround">
      <div class="map" aria-label="Map"
           leaflet
           (leafletMapReady)="onMapReady($event)"
           [leafletOptions]="options">
      </div>
    </div>
    <map-legend class="legend" [activeNumber]="activeNumberLayerShortName" [colorData]="colorData"
                [colorFunctions]="colorFunctions"></map-legend>
    <div class="date-slider">
      <date-range-slider (dateRange)="sliderChange($event)" [timeKeyedData]="this._timeKeys" (onEnd)="sliderChangeOnEnd($event)"
                         [options]="sliderOptions"></date-range-slider>
    </div>

    <mat-progress-bar *ngIf="loading" class="map-progress" mode="indeterminate"></mat-progress-bar>
    <!--    <div class="map-inset-shadow"></div>-->
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-spinner *ngIf="!ready" class="map-spinner"></mat-spinner>

