<mat-sidenav-container class="map-outer">
  <mat-sidenav class="app-tweet-drawer" #sidenav [(opened)]="tweetsVisible" disableClose mode="side">
    <button mat-icon-button class="draw-close-button" aria-label="Close" (click)="sidenav.toggle()">
      <mat-icon>close</mat-icon>
    </button>

    <twitter-panel class="twitter-panel" [count]="tweetCount" [region]="selectedRegion"
                   [exceedanceProbability]="exceedanceProbability"
                   [tweets]="tweets" [showHeaderInfo]="twitterPanelHeader"
                   [showTimeline]="showTwitterTimeline"></twitter-panel>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="map-surround">
      <div class="map" aria-label="Map"
           leaflet
           (leafletMapReady)="onMapReady($event)"
           [leafletOptions]="options">
      </div>
    </div>
    <map-legend *ngIf="ready" class="legend" [activeNumber]="activeNumberLayerShortName"></map-legend>
    <div class="date-slider">
      <date-range-slider [style.opacity]="ready ? '1.0' : '0.0'" (dateRange)="sliderChange($event)"
                         (onEnd)="sliderChangeOnEnd($event)"
                         [options]="sliderOptions"></date-range-slider>
    </div>

    <mat-progress-bar *ngIf="activity && ready" class="map-progress" mode="indeterminate"></mat-progress-bar>
    <!--    <div class="map-inset-shadow"></div>-->
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-spinner *ngIf="!ready" class="map-spinner"></mat-spinner>

