@import '~@angular/material/theming';
@import "../../../styles";


::ng-deep {

    .date-range-display-surround {
        margin-top: 0.2vh;
        font-size: 60%;
        min-height: 1vh;

        .ng5-slider {
            margin-top: 1.5vh;
            margin-bottom: 0.7vh;
            height: 0.17vh;
        }

        .ng5-slider .ng5-slider-bar {
            background: white;
            height: 1.5vh;
            border-radius: 0.2vh;
        }

        .ng5-slider .ng5-slider-selection {
            background: rgb(3, 155, 229);
            height: 1.5vh;
            border-radius: 0.2vh;

        }

        .ng5-slider-span:focus {
            outline: none !important;
        }

        .ng5-slider-floor {
            display: none !important;
        }

        .ng5-slider-ceil {
            display: none !important;
        }

        .ng5-slider .ng5-slider-bubble {
            bottom: 0.6vh;
        }


        .ng5-slider .ng5-slider-pointer {
            display: none;
        }


        .ng5-slider .ng5-slider-pointer-min {
            display: none;

        }

        .ng5-slider .ng5-slider-pointer-max {
            display: none !important;

        }

        .ng5-slider .ng5-slider-pointer:after {
            display: none;
        }


        .slider-date-time {
            .slider-date {
                color: white;
                font-size: 1.1vh;
                font-weight: bold;
                text-shadow: 0 0 0.1vh rgba(0, 0, 0, 0.4);
                //display: none;
            }

            .slider-time {
                color: white;
                font-size: 1.3vh;
                font-weight: lighter;
                text-shadow: 0 0 0.1vh rgba(0, 0, 0, 0.4);
                //display: none;
            }
        }

        //Wide
        @media (min-aspect-ratio: 1/1) {
            margin-top: 0.2vw;
            min-height: 1vw;

            .ng5-slider {
                margin-top: 1.5vw;
                margin-bottom: 0.7vw;
                height: 0.17vw;
            }

            .ng5-slider .ng5-slider-bar {
                height: 1.5vw;
                border-radius: 0.2vw;
            }

            .ng5-slider .ng5-slider-selection {
                height: 1.5vw;
                border-radius: 0.2vw;

            }

            .slider-date-time {
                .slider-date {
                    font-size: 1.1vw;
                    text-shadow: 0 0 0.1vw rgba(0, 0, 0, 0.4);
                }

                .slider-time {
                    text-shadow: 0 0 0.1vw rgba(0, 0, 0, 0.4);
                    font-size: 1.3vw;
                }
            }
        }
    }
}
