@import "../map.component";

$tweetHeaderOffset: 16px;


::ng-deep {
  .mat-tab-body-wrapper, .mat-tab-group {
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    display: block;
  }

  .mat-tab-body.mat-tab-body-active {
    overflow: hidden !important;
    background-color: #f4f4f4;
  }


}

.app-tweet-outer {
  display: block;
  height: 100%;
  max-height: 100%;
  min-height: 100%;
  font-size: 16px;
  overflow: hidden;
  width: $drawer-width - 2px;
  max-width: $drawer-width - 2px;
  min-width: $drawer-width - 2px;
  margin: 0;
  padding: 0;

  .app-tweet-area-loading-spinner {
    margin: 2em auto;
    margin-top: 24px;
    margin-left: $drawer-width/2;
    opacity: 0.3;
  }

  .mat-tab-body {
    overflow-x: visible;
    position: relative;

  }


  .app-tweet-table {
    display: block;
    height: calc(100vh - 208px);
    position: relative;
    overflow: visible;
    margin-top: 8px;


    .app-tweet-paged {
      display: flex;
      align-items: stretch;
      flex-direction: column;
      height: 100%;

    }


  }


}

.app-tweet-heading {
  font-size: 16px;
  margin-top: -8px;
  text-align: left;
}

.app-tweet-sub-heading {
  font-size: 12px;
  margin-top: -8px;
  font-weight: lighter;
}

.app-tweet-date-separator {
  opacity: 0.4;
  margin-top: 1em;
  margin-bottom: 1em;
}


.app-tweet-heading-text {
  margin-top: 0px;
  max-height: 40px;
}

.app-tweet-scroll-spinner-outer {

}

mat-spinner.app-tweet-scroll-spinner {
  height: 24px;
  width: 24px;
  opacity:0.3;
  left: ( $drawer-width / 2 - 12px );
  display: none !important;
  position:absolute;
}

.mat-tab-label, .mat-tab-link {
  font-weight: lighter !important;
}

.mat-tab-label-active {
  font-weight: normal !important;
}
