<div class="tweets-outer">

  <ng-container *ngIf="ready">
    <div class="tweets-header" *ngIf="tweets.length > 0">
      <span class="tweets-heading" style="color: black">{{region}}:</span>
      <help page="help-and-support#exceedance"
            tooltip="Exceedance probability is calculated by comparing the current level of tweet activity with historical tweet activity.">
        Exceedance probability
      </help>
      {{exceedanceProbability}}%
    </div>
    <div class="tweets-header" *ngIf="tweets.length === 0">
      <span *ngIf="region" class="tweets-heading"
            style="color: black">No Tweets from {{region}}<br/></span>

      <span *ngIf="!region" class="tweets-heading" style="color: black">Loading ...<br/></span>

    </div>
  </ng-container>
  <div *ngIf="!ready">
    <div>
      <mat-spinner class="tinfo-spinner"></mat-spinner>
    </div>
  </div>
  <div id="tinfo" class="tinfo">


    <!--      <button id="tinfo_button" class="tinfo_button">-</button>-->
    <div id="tinfo_table_wrapper" class="tinfo_table_wrapper">

      <div id="tinfo_table" class="app-twitter-table" *ngIf="showTimeline">
        <div class="table_info" [style.visibility]="ready ? 'visible' : 'hidden'">


          <mat-tab-group (selectedTabChange)="update(null)">
            <mat-tab label="{{visibleTweets.length}} Tweets">
              <ng-template matTabContent>
                <app-tweet-list group="visible" [tweets]="visibleTweets" (update)="update($event)"></app-tweet-list>
              </ng-template>
            </mat-tab>
            <mat-tab label="{{tweets.length - visibleTweets.length}} Ignored">
              <ng-template matTabContent>
                <app-tweet-list group="hidden" [tweets]="hiddenTweets" (update)="update($event)"></app-tweet-list>
              </ng-template>
            </mat-tab>
            </mat-tab-group>


        </div>

      </div>

    </div>
  </div>
</div>


