<div class="app-tweet-outer">

  <mat-toolbar class="expanded-toolbar app-toolbar">
    <ng-container *ngIf="ready">
      <ng-container *ngIf="selection.count === 1">
        <ng-container *ngIf="tweets.length > 0">
          <span class="app-tweet-heading" style="color: black">{{selection.firstRegion().title}}:</span>
          <div class="app-toolbar-separator"></div>
          <help page="help-and-support#exceedance"
                tooltip="Exceedance probability is calculated by comparing the current level of tweet activity with historical tweet activity.">
            Exceedance probability&nbsp;
          </help>
          {{selection.firstRegion().exceedanceProbability}}%
          <div class="app-toolbar-separator"></div>

        </ng-container>

        <ng-container *ngIf="tweets.length === 0">

      <span *ngIf="selection" class="app-tweet-heading"
            style="color: black">No Tweets from {{selection.firstRegion().title}}<br/></span>

          <span *ngIf="!selection" class="app-tweet-heading" style="color: black">Loading ...<br/></span>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="selection.count > 1">
        {{selection.count}} regions selected
      </ng-container>
      <span>&nbsp;&nbsp;&nbsp;</span>
      <div class="app-toolbar-expanding-separator"></div>
      <button mat-icon-button class="app-toolbar-btn app-tweet-btn app-tweet-export-btn" (click)="download()">
        <mat-icon matTooltip="Download these Tweets as a CSV file.">cloud_download</mat-icon>
      </button>
      <button mat-icon-button class="app-toolbar-btn app-tweet-btn app-tweet-refresh-btn" (click)="refresh()">
        <mat-icon matTooltip="Manually refresh the tweet list.">refresh</mat-icon>
      </button>
      <div class="app-toolbar-separator"></div>
      <div class="app-toolbar-separator"></div>
    </ng-container>

    <div *ngIf="!ready">
      <mat-spinner diameter="48" class="app-tweet-area-loading-spinner"></mat-spinner>
    </div>
  </mat-toolbar>


  <div class="app-tweet-table" *ngIf="showTimeline">


    <mat-tab-group (selectedTabChange)="update(null)">
      <mat-tab label="{{ready ? visibleTweets.length: ''}} Tweets">
        <ng-template matTabContent>
          <app-tweet-list group="visible" [tweets]="visibleTweets" (update)="update($event)"
                          [style.visibility]="tweetsReady ? 'visible' : 'hidden'"></app-tweet-list>
        </ng-template>
      </mat-tab>
      <mat-tab label="{{ready ? hiddenTweets.length: ''}} Ignored">
        <ng-template matTabContent>
          <app-tweet-list group="hidden" [tweets]="hiddenTweets" (update)="update($event)"
                          [style.visibility]="tweetsReady ? 'visible' : 'hidden'"></app-tweet-list>
        </ng-template>
      </mat-tab>
    </mat-tab-group>


  </div>

</div>


