<h2 mat-dialog-title>Open Public Display</h2>
<mat-dialog-content>
    <form [formGroup]="form">
        <mat-form-field *ngIf="scriptService.all">
            <mat-label>Script [optional]</mat-label>
            <mat-select class="app-map-active-layer-select" formControlName="script">
                <mat-option value="">Current Map</mat-option>
                <mat-option *ngFor="let script of scriptService.all"
                            [class]="'app-pd-open-script-option-'+script.id"
                            [value]="script.id">{{script.title}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="!form.value.script" appearance="fill">
            <mat-label>Step duration in hours</mat-label>
            <input formControlName="step" matInput placeholder="hours" required>
        </mat-form-field>
        <mat-form-field *ngIf="!form.value.script" appearance="fill">
            <mat-label>Window duration in hours</mat-label>
            <input formControlName="window" matInput placeholder="hours" required>
        </mat-form-field>
        <mat-form-field *ngIf="!form.value.script" appearance="fill">
            <mat-label>Start time offset in days</mat-label>
            <input formControlName="offset" matInput placeholder="days" required>
        </mat-form-field>
        <mat-label>Playback Speed (in seconds per step)</mat-label>
        <mat-slider [displayWith]="speedLabel" [formControl]="form.controls.speed" invert max="30" min="3" step="0.5"
                    thumbLabel tickInterval="auto"></mat-slider>
        <mat-error *ngIf="form.invalid">{{getErrorMessage()}}</mat-error>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button [mat-dialog-close]="form.value.script ? {script: form.value.script, speed: form.value.speed} : form.value"
            cdkFocusInitial mat-button>Open
    </button>
</mat-dialog-actions>
