

.mat-draw-inner-container {
  //max-height: 100%;
  //min-height: 100%;
  //overflow: auto;
  //font: 14px/16px Arial,
  //Helvetica, sans-serif;
  //background: white;
  ////background: rgba(255, 255, 255, 0.5);
  ////box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  ////border-radius: 5px;
  //-webkit-transition: height 1s;
  //transition: height 1s;
}

.tinfo_h4 {
  margin: 0 0 0px;
  color: #777;
}

.tinfo_h4b {
  margin: 5px 0 5px 0;
  color: #000;
}

.tinfo_table_wrapper {
  //width: 100%;
  //height: 100%;
  //max-height: 100%;
  //min-height: 100%;
  //overflow: auto;
}

.tinfo td, .tinfo th {
  margin: 8px;
}


.tinfo tr:hover {
  background-color: #ddd;
}

.tinfo th {
  border: 1px solid #ddd;
  padding: 0px;
  text-align: left;
  margin: 0px;
  color: #777;
}


