<div class="content" role="main">

    <!--    <mat-menu x-position="before" #menu="matMenu">-->
    <!--        <button mat-menu-item routerLink="/">-->
    <!--            <mat-icon>home</mat-icon>-->
    <!--            Home-->
    <!--        </button>-->
    <!--        &lt;!&ndash;     <button mat-menu-item routerLink="/map">&ndash;&gt;-->
    <!--        &lt;!&ndash;       <mat-icon>map</mat-icon>&ndash;&gt;-->
    <!--        &lt;!&ndash;       Map&ndash;&gt;-->
    <!--        &lt;!&ndash;     </button>&ndash;&gt;-->
    <!--        <button mat-menu-item routerLink="/dashboard" *ngIf="isAuthenticated && pref.ready &&-->
    <!--     pref.featureSupported('dashboard')">-->
    <!--            &lt;!&ndash;       <mat-icon>power_settings_new</mat-icon>&ndash;&gt;-->
    <!--            Dashboard-->
    <!--        </button>-->
    <!--        <button mat-menu-item routerLink="/login" *ngIf="!isAuthenticated">-->
    <!--            <mat-icon>power_settings_new</mat-icon>-->
    <!--            Login-->
    <!--        </button>-->
    <!--        <button mat-menu-item *ngIf="isAuthenticated" (click)="logout()">-->
    <!--            <mat-icon>exit_to_app</mat-icon>-->
    <!--            Logout-->
    <!--        </button>-->
    <!--    </mat-menu>-->

    <div class="content-inner">
        <router-outlet></router-outlet>
    </div>

    <!--  <mat-card>-->
    <!--    <mat-card-content>-->
    <!--      <form>-->
    <!--        <div class="amplify-block">-->
    <!--        <amplify-authenticator [usernameAttributes]="usernameAttributes"></amplify-authenticator>-->
    <!--        </div>-->
    <!--      </form>-->
    <!--    </mat-card-content>-->
    <!--  </mat-card>-->


    <!-- Footer -->
    <footer>
    </footer>


</div>
<mat-progress-bar *ngIf="loading.progressPercentage > 0 && loading.progressPercentage  < 99.99"
                  [value]="loading.progressPercentage*100"
                  class="app-loading-progress"
                  mode="determinate"></mat-progress-bar>

<mat-spinner *ngIf="loading.showSpinner" [mode]="loading.spinnerMode" [value]="loading.progressPercentage*100"
             class="app-loading-spinner"></mat-spinner>
