<div class="historical-date-range-slider-surround">
    <div #historicalScrollbar [style.height]="'92px'" id="hdrs-historical-scrollbar" style="width: 100%"></div>
    <div #currentScrollbar [style.height]="'92px'" id="hdrs-current-scrollbar" style="width: 100%"></div>
    <!--    -->
    <!--  <ng5-slider [manualRefresh]="refresh" [(value)]="lowerValue"-->
    <!--              [(highValue)]="upperValue"-->
    <!--              [options]="sliderOptions"-->
    <!--              (userChange)="changeEvent($event)"-->
    <!--              (userChangeEnd)="onEndEvent($event)"></ng5-slider>-->
</div>
