<mat-card class="legend-card" *ngIf="values.length > 0 && this.getColor">
  <mat-card-title>
    <help *ngIf='activeNumber !== "count"' page="help-and-support#exceedance"
          tooltip="Exceedance probability is calculated by comparing the current level of tweet activity with historical tweet activity.">
      Exceedance
    </help>
    <help *ngIf='activeNumber === "count"' page="help-and-support#tweetcount"
          tooltip="This is the number of tweets in that particular location for the time selected on the time slider.">
      Tweet Count
    </help>
  </mat-card-title>
  <div class="legend-inner">
    <span>
    <i [style.background]="getColor(values[0]+1)"></i>
      {{values[0]}}&ndash;<br/>
      </span>
    <span *ngFor="let value of values; let i = index">

    <i [style.background]="getColor(value)"></i>
      <ng-container>
        {{value}}{{(values[i + 1] ? '&ndash;' + values[i + 1] : '&ndash;0')}}<br/>
      </ng-container>


      </span>
  </div>
</mat-card>
