
.legend-inner {
  font-size: 0.6em;
  text-align: left;
  line-height: 2.1em;
  color: #555;
}

.legend-inner span i {
  width: 2em;
  height: 2em;
  float: left;
  margin-right: 1em;
  opacity: 0.7;
}

.legend-card .mat-card-title {
  font-size: 0.6em;
}
