@import "../../map.component";

.app-public-display-tweet-list {
    display: block;
    max-height: 100%;
    height: 100%;
    font-size: 0.7vw;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    border-radius: 0.5vw;
    background-color: white;
    box-shadow: 0.1vw 0.1vh 0.5vw 0.2vw rgba(0, 0, 0, 0.2);

    .app-tweet-paged {
        display: block;
        height: auto;

    }


    .app-tweet-row {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
        position: relative;
        max-width: 24vw;
        min-width: 24vw;
        //background-color: #eee;

        .app-tweet-item {
            //display: flex;
            //flex-direction: column;
            width: 100%;
            min-height: 1.5vw;

            border-left: 0.1vw none;
            border-radius: 0.3vw;


            &.sensitive {
                .app-twitter-tweet {
                    opacity: 0.3;
                }
            }

            .app-twitter-tweet p {
                font-size: 1vw;
                font-weight: normal;
                line-height: 1vw;
            }

            .app-twitter-tweet a {
                color: inherit;
                font-weight: normal;
                text-decoration: none;
                outline: 0 none;
            }

            .app-twitter-tweet a:hover,
            .app-twitter-tweet a:focus {
                text-decoration: underline;
            }


            .app-twitter-tweet {
                display: inline-block;
                font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
                font-size: 1.2vw;
                //border-radius: 0.5vw;
                border-bottom: 0.05vw solid rgb(225, 232, 237);
                margin-left: 0;
                margin-right: 0;
                padding-top: 0.6vw;
                padding-right: 0.6vw;
                padding-left: 0.6vw;
                padding-bottom: 0.6vw;
                max-width: 23vw;
                min-width: 23vw;
                width: 23vw;
                background: white !important;
                position: relative;


                .app-twitter-profile-image {
                    border-radius: 100%;
                    margin: 0.5vw;
                    float: left;
                }

                .app-twitter-user-name {
                    font-weight: bold;
                    font-size: 1vw;
                    text-align: left;
                    margin-top: 0.3vw;
                    max-width: 18vw;

                }

                .app-twitter-verified {
                    svg {
                        width: 0.6vw;
                        height: 0.6vw;
                        color: rgb(29, 161, 242);
                        fill: currentcolor;
                        display: inline-block;
                        //vertical-align: text-bottom;
                        max-width: 100%;
                    }
                }

                .app-twitter-logo {
                    position: absolute;
                    top: 0.6vw;
                    right: 0.6vw;

                    a {
                        svg {
                            width: 1.2vw;
                            height: 1.2vw;
                            color: rgb(29, 161, 242);
                            fill: currentcolor;
                            display: inline-block;
                            //vertical-align: text-bottom;
                            max-width: 100%;
                        }
                    }
                }

                .app-twitter-screen-name {
                    font-weight: normal;
                    font-size: 0.8vw;
                    text-align: left;
                    max-width: 18vw;
                }

                .app-twitter-text {
                    font-weight: normal;
                    font-size: 1.2vw;
                    text-align: left;
                    clear: both;
                    //display: none;
                    //opacity: 0.0;
                    margin: 0.5vw;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
                    //background-color: rgba(0, 0, 0, 0);
                    list-style: none;
                    line-height: 1.3125;
                    min-width: 0;
                    overflow-wrap: break-word;

                    ::ng-deep {
                        a {
                            text-decoration: none;
                            cursor: pointer;
                            color: rgb(27, 149, 224);
                        }

                        .twitter-tweet {
                            display: none;

                            p {
                                display: inline;
                            }
                        }
                    }


                }

                .app-pd-twitter-date {
                    float: left;
                    display: inline-block;
                    font-weight: normal;
                    font-size: 0.6vw;
                    text-align: left;
                    color: rgba(83, 100, 113, 0.6);
                    margin: 0.2vw;
                }

                .app-pd-twitter-region {
                    float: right;
                    display: inline-block;
                    font-weight: normal;
                    font-size: 0.6vw;
                    text-align: left;
                    color: rgba(83, 100, 113, 0.6);
                    margin: 0.2vw;
                }


            }

        }


    }

    .app-tweet-item-card-surround {
        margin-bottom: 0.8vw;
        width: 100%;

    }


}
