<div class="grid-container">
    <h1 class="mat-h1">Dashboard
        <button mat-button (click)="reset()">reset</button>

    </h1>
    <mat-grid-list cols="2" rowHeight="500px">
        <ng-container *ngFor="let card of cards; let i=index ">
            <mat-grid-tile *ngIf="!card.hidden" [colspan]="card.cols" [rowspan]="card.rows">
                <mat-card class="dashboard-card  dashboard-card-{{card.cols}}x{{card.rows}}
                    dashboard-card-cols-{{card.cols}} dashboard-card-rows-{{card.rows}}">
                    <mat-card-header>
                        <mat-card-title>
                            {{card.title}}
                            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu"
                                    aria-label="Toggle menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu" xPosition="before">
                                <button mat-menu-item (click)="expand(card)">Expand</button>
                                <button mat-menu-item (click)="shrink(card)">Shrink</button>
                                <button mat-menu-item (click)="hide(card)">Hide</button>
                                <button mat-menu-item (click)="debug(card)">Debug</button>
                                <button mat-menu-item (click)="remove(card)">Remove</button>
<!--                                <button *ngIf="card.variant !== 'bar'" mat-menu-item-->
<!--                                        (click)="card.variant='bar'">Switch to Bar-->
<!--                                </button>-->
<!--                                <button *ngIf="card.variant !== 'line'" mat-menu-item (click)="card.variant='line'">-->
<!--                                    Switch to Line-->
<!--                                </button>-->
                            </mat-menu>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="dashboard-card-content">
                        <ng-container [ngSwitch]="card.type">
                            <ng-container *ngSwitchCase="'timeseries-text-and-region'">
                                <app-twitter-timeseries [height]="card.rows*500" [mappingColumns]="['region']"
                                                        [state]="card.state"
                                                        (changed)="saveCard(i,$event)"
                                                        [type]="card.variant || 'line'"
                                                        [connect]="true"
                                                        regionFilter="true" textFilter="true"></app-twitter-timeseries>
                            </ng-container>
                            <ng-container *ngSwitchCase="'timeseries-total'">
                                <app-twitter-timeseries
                                        [state]="card.state"
                                        [type]="card.variant || 'bar'"
                                        (changed)="saveCard(i,$event)"
                                        [height]="card.rows*500"></app-twitter-timeseries>
                            </ng-container>
                            <ng-container *ngSwitchCase="'timeseries-exceed'">
                                <app-twitter-timeseries yField="exceedence" yLabel="Exceedence"
                                                        [type]="card.variant || 'bar'"
                                                        [state]="card.state"
                                                        (changed)="saveCard(i,$event)"
                                                        [height]="card.rows*500"></app-twitter-timeseries>
                            </ng-container>
                            <ng-container *ngSwitchCase="'timeseries-exceed-region'">
                                <app-twitter-timeseries yField="exceedence" regionFilter="true" yLabel="Exceedence"
                                                        [type]="card.variant || 'bar'"
                                                        [state]="card.state"
                                                        (changed)="saveCard(i,$event)"
                                                        [mappingColumns]="['region']"
                                                        [height]="card.rows*500"></app-twitter-timeseries>
                            </ng-container>
                            <ng-container *ngSwitchCase="'blank'"><h3>This card is intentionally blank</h3>
                            </ng-container>
                        </ng-container>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>

        </ng-container>
        <mat-grid-tile *ngIf="!readonly" [colspan]="1" [rowspan]="1">
            <mat-card class="dashboard-card  dashboard-card-1x1}
                    dashboard-card-cols-1 dashboard-card-rows-1">
                <mat-card-header>
                    <mat-card-title>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">

                    <ng-container >
                        <button mat-icon-button class="add-card-button" (click)="addCard()"
                                aria-label="Add Card to Dashboard">
                            <mat-icon>add</mat-icon>
                        </button>
                    </ng-container>
                    <form name="new-widget-form">
                        <mat-form-field appearance="fill">
                            <mat-label>Widget Type</mat-label>
                            <mat-select [(ngModel)]="newWidgetType" name="newWidgetType">
                                <mat-option *ngFor="let type of types" [value]="type">
                                    {{type.title}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field  appearance="fill">
                            <mat-label>Widget Title</mat-label>
                            <input matInput placeholder="Ex. Graph of Counts" [value]="newWidgetTitle"
                                   name="newWidgetTitle"
                                   [(ngModel)]="newWidgetTitle">
                        </mat-form-field>
                    </form>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>
