@import '~@angular/material/theming';
@import "~@aws-amplify/ui/src/Theme.css";

.amplify-block {
  @import "~@aws-amplify/ui/src/Angular";

  .amplify-container {
    padding-bottom: 2em;
  }
}


// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$app-primary: mat-palette($mat-indigo, 800);
$app-accent: mat-palette($mat-pink, 800);
$app-active: mat-palette($mat-pink, 800);

// The warn palette is optional (defaults to red).
$app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);

.active {
  color: mat-color($app-primary);
}

.valid, .primary {
  color: mat-color($app-primary);
}


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

form {
  width: 100%;
}

form > * {
  margin-bottom: 1.5em;
  width: 100%;
}

a {
  color: mat-color($app-accent);
}

.content {
  padding: 0.5em;
}

.sidenav-content {
  flex-direction: column;
}

.sidenav-container {
  height: 90%;
}

.app-content {
  flex: 1;
  margin: 0 auto;
  padding: 2em;
}

.cursor-pointer {
  cursor: pointer;
}

.full-width {
  width: 100%;
}

.active {
  color: mat-color($app-active);
}

//The Map

.map {
  //width: 100%;
  min-height: 768px;
  //margin: auto;
  display: block;
  position: relative;
  //position: absolute;
  //left: 8px;
  //bottom: 8px;
  //right: 8px;
  //z-index:-10;
}

#button-wrapper {
  position: absolute;
  top: 20%;
  left: 1%;
  bottom: 0;
  right: 0;
  z-index: 2000;
}

.btnStyle {
  width: 100px;
  border-radius: 10%;
  border: none;
  margin: 0;
  padding: 0;
  color: #777;
  background-color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  box-shadow: 0 3px #999;
  float: left;
}

.info {
  width: 175px;
  height: 50px;
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.date_lab {
  width: 175px;
  height: 20px;
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.date_lab h4 {
  margin: 0px 0px 0px 5px;
  color: #777;
}


.legend {
  text-align: left;
  line-height: 18px;
  color: #555;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}


.timeslider_container {
  width: 32vw;
  height: 10vh;
}

.timeslider {
  width: 30vw;
}

.timeslider_input {
  border: 0;
  width: 32vw;
  font-weight: bold;
  font-size: 2vh;
  background-color: transparent;
  text-align: center;
}


.leaflet-top.leaflet-left {
  float: left;
}

.leaflet-control-layers.leaflet-control {
  display: inline-block;
  float: none;
}

