div.timeseries-chart-spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
}

.dct-containing {
    margin-right:2em;
}
.dct-containing-term {
    font-weight: bolder;
}