<div *ngIf="firstVisibleDate" [style.opacity]="showDateHeader ? '0.8':'0'" class="app-tweet-list-date-float">
    <div class="app-tweet-list-date-float-inner">{{firstVisibleDate.toUTCString()}}</div>
</div>

<div class="app-tweet-list app-tweet-list-{{group}}"
     infinite-scroll
     [infiniteScrollDistance]="scrollDistance"
     [infiniteScrollUpDistance]="scrollUpDistance"
     [infiniteScrollThrottle]="throttle"
     alwaysCallback="true"
     [scrollWindow]="false"
     (scroll)="calcFirstVisibleDate()"
     (scrolled)="onScrollDown($event)"
     (scrolledUp)="onUp($event)">
    <ng-template #toggleAnnotation let-tweet="tweet" let-key="key" let-positiveTitle="positiveTitle"
                 let-negativeTitle="negativeTitle">
        <button
                class="tweet-list-item-menu-{{key}}"
                *ngIf="annotationValueIsNot(tweet,
        key,true)"
                (click)="annotateTweetKeyValue(tweet,key, true, $event);"
                mat-menu-item>{{positiveTitle}}
        </button>
        <button
                class="tweet-list-item-menu-not-{{key}}"
                *ngIf="annotationValueIs(tweet,key,true)"
                (click)="annotateTweetKeyValue(tweet,key,false, $event);"
                mat-menu-item>{{negativeTitle}}
        </button>
    </ng-template>


    <ng-template #tweetEntry let-tweet="tweet" let-si="senderIgnore" let-ti="tweetIgnore">

        <mat-menu #markAs="matMenu">
            <button *ngIf="!si" (click)="ignoreSender(tweet,$event);" mat-menu-item
                    class="tweet-menu-ignore-sender">Ignored Sender
                @{{sender(tweet)}}</button>
            <button *ngIf="si" (click)="unIgnoreSender(tweet,$event);" mat-menu-item
                    class="tweet-menu-unignore-sender">Unignored Sender
                @{{sender(tweet)}}</button>
            <button *ngIf="!ti" (click)="ignoreTweet(tweet,$event);" mat-menu-item
                    class="tweet-menu-ignore-tweet">Ignored Tweet

            </button>
            <button *ngIf="ti" (click)="unIgnoreTweet(tweet,$event);" mat-menu-item
                    class="tweet-menu-unignore-tweet">Unignored Tweet
            </button>
            <ng-container
                    *ngTemplateOutlet="toggleAnnotation; context: {tweet:tweet,key:'relevant', positiveTitle:'Relevant',
              negativeTitle:'Not Relevant'}"></ng-container>
            <ng-container
                    *ngTemplateOutlet="toggleAnnotation; context: {tweet:tweet,key:'mislocated', positiveTitle:'Mis-located',
              negativeTitle:'Location Correct'}"></ng-container>

        </mat-menu>

        <mat-menu #appMenu="matMenu">

            <button class="tweet-list-item-menu-mark-as"
                    [matMenuTriggerFor]="markAs" mat-menu-item>Mark As ...
            </button>
            <ng-container *ngFor="let annotationType of annotationTypes">
                <mat-menu #annotationMenu="matMenu">
                    <ng-container *ngFor="let level of annotationType.options">
                        <button
                                *ngIf="annotationValueIs(tweet,
        annotationType.name,level.value)"
                                class="tweet-list-item-menu-{{annotationType.name}}-level-{{level.value}} tweet-list-item-menu-{{annotationType.name}}-level-{{level.value}}-selected"
                                mat-menu-item><strong>{{level.title}}</strong>
                        </button>
                        <button (click)="annotateTweetKeyValue(tweet,annotationType.name,level.value, $event);"
                                *ngIf="annotationValueIsNot(tweet, annotationType.name,level.value)"
                                class="tweet-list-item-menu-{{annotationType.name}}-level-{{level.value}} tweet-list-item-menu-{{annotationType.name}}-level-{{level.value}}-not-selected"
                                mat-menu-item>{{level.title}}
                        </button>
                    </ng-container>
                    <button
                            (click)="annotateTweetKeyValue(tweet,annotationType.name,'', $event);"
                            class="tweet-list-item-menu-{{annotationType.name}}-level-clear"
                            mat-menu-item>Clear
                    </button>

                </mat-menu>
                <button [matMenuTriggerFor]="annotationMenu"
                        class="tweet-list-item-menu-impact" mat-menu-item>{{annotationType.title}}
                </button>
            </ng-container>
            <button
                    (click)="copy(tweet,$event);"
                    class="tweet-list-item-menu-copy"
                    mat-menu-item>Copy
            </button>

            <!--      <button (click)="pref.markIrrelevant(tweet) && removeTweet(tweet,$event)" mat-menu-item>Mark Irrelevant</button>-->

        </mat-menu>
        <div [ngClass]="tweet.json.possibly_sensitive  ? 'sensitive': 'non-sensitive'"
             [style]="styleFor('impact',tweet)"
             class="app-tweet-item app-tweet-row-active">
            <div class="app-tweet-item-text">
                <div class="app-twitter-tweet">
                    <img [src]="tweet.json.user.profile_image_url" class="app-twitter-profile-image"
                         onerror="this.style.opacity = 0">
                    <div class="app-twitter-user-name">{{tweet.json.user.name}}
                        <span *ngIf="tweet.json.user.verified"
                              class="app-twitter-verified"><svg aria-label="Verified account" viewBox="0 0 24 24"><g
                                style=""><path
                                d="M22.5 12.5c0-1.58-.875-2.95-2.148-3.6.154-.435.238-.905.238-1.4 0-2.21-1.71-3.998-3.818-3.998-.47 0-.92.084-1.336.25C14.818 2.415 13.51 1.5 12 1.5s-2.816.917-3.437 2.25c-.415-.165-.866-.25-1.336-.25-2.11 0-3.818 1.79-3.818 4 0 .494.083.964.237 1.4-1.272.65-2.147 2.018-2.147 3.6 0 1.495.782 2.798 1.942 3.486-.02.17-.032.34-.032.514 0 2.21 1.708 4 3.818 4 .47 0 .92-.086 1.335-.25.62 1.334 1.926 2.25 3.437 2.25 1.512 0 2.818-.916 3.437-2.25.415.163.865.248 1.336.248 2.11 0 3.818-1.79 3.818-4 0-.174-.012-.344-.033-.513 1.158-.687 1.943-1.99 1.943-3.484zm-6.616-3.334l-4.334 6.5c-.145.217-.382.334-.625.334-.143 0-.288-.04-.416-.126l-.115-.094-2.415-2.415c-.293-.293-.293-.768 0-1.06s.768-.294 1.06 0l1.77 1.767 3.825-5.74c.23-.345.696-.436 1.04-.207.346.23.44.696.21 1.04z"></path></g></svg></span>
                    </div>
                    <div class="app-twitter-screen-name">@{{tweet.json.user.screen_name}}</div>
                    <div [innerHTML]="tweetHtml(tweet)|safeHtml" class="app-twitter-text">
                    </div>
                    <!--                    <div [innerHTML]="tweet.text | safeHtml" class="app-twitter-text"></div>-->
                    <div class="app-twitter-date">{{tweet.date | date:"shortTime"}}
                        - {{tweet.date | date:"mediumDate"}}</div>
                    <!--                    {{tweet.json.extended_tweet.entities.media|json}}-->
                    <div *ngIf="!tweet.json.possibly_sensitive">
                        <div *ngFor="let media of mediaEntities(tweet)">
                            <!--                            {{media|json}}-->
                            <ng-container *ngIf="media?.additional_media_info?.embeddable === false">
                            </ng-container>
                            <ng-container *ngIf="media?.additional_media_info?.embeddable !== false">
                                <div *ngIf="media.type === 'photo'">
                                    <!-- Image cannot be embedded -->
                                    <a [href]="media.media_url" target="_blank"><img [ngStyle]="styleForPhoto(media)"
                                                                                     [src]="media.media_url"

                                                                                     alt="photo"/></a>
                                </div>
                                <div *ngIf="media.type === 'animated_gif'">
                                    <!-- Image cannot be embedded -->
                                    <a [href]="media.media_url"><img [ngStyle]="styleForPhoto(media)"
                                                                     [src]="media.media_url"

                                                                     alt="photo"/></a>
                                </div>
                                <div *ngIf="media.type === 'video'">
                                    <video *ngIf="videoVariant(media) !== null" [ngStyle]="styleForPhoto(media)"
                                           controls>
                                        <source [src]="videoVariant(media).url"
                                                [type]="videoVariant(media).content_type">
                                        Your browser does not support the video tag.
                                    </video>

                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <div class="app-twitter-line"></div>
                    <div class="app-twitter-stats">
                        <span *ngIf="pref.combined.showTwitterLikes" class="app-twitter-likes"><mat-icon>favorite_border</mat-icon>
                            {{tweet.json.favorite_count > 0 ? tweet.json.favorite_count : " "}}</span>
                        <span *ngIf="pref.combined.showTwitterRTs" class="app-twitter-rt"><mat-icon>cached</mat-icon>
                            {{tweet.json.retweet_count > 0 ? tweet.json.retweet_count : " "}}</span>
                        <span class="app-twitter-open"><a [href]="tweet.url" aria-label="View on Twitter"
                                                          rel="noopener noreferrer" role="link" target="_blank"><mat-icon>open_in_new</mat-icon>
                            Open in Twitter</a></span>
                    </div>
                    <div class="app-twitter-logo"><a [href]="tweet.url" aria-label="View on Twitter"
                                                     rel="noopener noreferrer" role="link" target="_blank">
                        <svg aria-hidden="true"
                             class="r-13gxpu9 r-4qtqp9 r-yyyyoo r-6zzn7w r-19fsva8 r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-q1j0wu"
                             viewBox="0 0 24 24">
                            <g>
                                <path d="M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z"></path>
                            </g>
                        </svg>
                    </a></div>
                </div>
            </div>
        </div>
        <div class="app-tweet-item-menu">
            <button mat-icon-button [matMenuTriggerData]="{tweet:tweet,si:si,ti:ti}" [matMenuTriggerFor]="appMenu">
                <mat-icon>more_vert</mat-icon>
            </button>
        </div>
    </ng-template>


    <div class="app-tweet-paged app-tweet-page-{{p}}" *ngFor="let page of pages; let p= index">
        <ng-container *ngIf="page">
            <div class="app-tweet-scroll-
      -outer" *ngIf="p == 0 && p < minPage">
                <!--        <mat-spinner diameter="24" class="app-tweet-load-spinner"></mat-spinner>-->
            </div>
            <ng-container *ngFor="let tweet of page.tweets; let i = index">
                <div [attr.data-index]="i+ page.start"
                     [attr.data-i]="i"
                     [attr.data-page]="p"
                     [attr.data-tweet-id]="tweet.id"
                     class="app-tweet-row atr-{{group}} atr-{{i+ page.start}} app-twitter-id-{{tweet.id}}"
                >
                    <!--          <div class="app-tweet-date-separator"-->
                    <!--               *ngIf="isNewDate(i + page.start)">{{tweet.date | date:"mediumDate"}}</div>-->
                    <ng-container *ngIf="page.page <= maxPage">
                        <div class="app-tweet-item-card-surround" *ngIf="!isPlaceholder(tweet)">
                            <ng-container>
                                <ng-container
                                        *ngTemplateOutlet="tweetEntry; context: {tweet:tweet,i:i + page.start,senderIgnore:pref.isSenderIgnored(tweet),tweetIgnore:pref.isTweetIgnored(tweet)}"></ng-container>
                            </ng-container>
                        </div>
                        <div class="app-tweet-item-card-surround" *ngIf="isPlaceholder(tweet)">
                            <div class="app-tweet-item-card">
                                <div class="app-tweet-item-placeholder app-tweet-row-active">
                                    <span class="app-tweet-item-no-longer-available">Tweet no longer available</span>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </ng-container>
            <ng-container *ngIf="p == pages.length -1">
                <div class="app-tweet-scroll-spinner-outer" *ngIf="p > maxPage">
                    <!--          <mat-spinner diameter="24" class="app-tweet-load-spinner"></mat-spinner>-->
                </div>
                <div class="app-tweet-scroll-spinner-outer" *ngIf="p == maxPage">
                    <span class="app-tweet-list-end-tilde"> ~ </span>
                </div>
            </ng-container>
        </ng-container>
    </div>
</div>
