$tweetWidth: 540px;
$tweetMargin: 8px;
.app-tweet-list {
  display: block;
  max-height: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 16px;
  margin: 0;
  padding: 0;


  .app-tweet-paged {
    display: block;
    height: auto;

  }

  .app-tweet-item-text {
    height: 100%;
  }

  .app-tweet-row {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    //border: 1px solid blue;
    position: relative;
    max-width: 500px + $tweetMargin * 2;
    min-width: 500px + $tweetMargin * 2;


    //max-height: 0;

    .app-tweet-item-menu {
      position: absolute;
      right: -32px;
      top: 0px;
      z-index: 10;
      opacity: 0.0;
      transition: opacity 1s ease-in-out 1s;
      //border: 1px solid red;
    }

    .app-tweet-item {
      //display: flex;
      //flex-direction: column;
      //border: 1px solid green;
      width: 100%;
      min-height: 32px;

      ::ng-deep {

        blockquote {
          opacity: 0.0;
          transition: opacity 0.8s ease-in-out;
        }

        .app-tweet-item-text blockquote {
          display: none;
          opacity: 0.0;
          margin: 12px;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
          background-color: rgba(0, 0, 0, 0);
          list-style: none;
          line-height: 1.3125;
          min-width: 0px;
          overflow-wrap: break-word;

          ::ng-deep {
            a {
              text-decoration: none;
              cursor: pointer;
              color: rgb(27, 149, 224);
            }
          }
        }


        blockquote.tweet-rendered {
          opacity: 1.0;
          margin: 0px;
          display: block;
        }

      }

    }


  }


  .app-tweet-item-placeholder {
    opacity: 1.0;
    margin: 16px;
    display: block;
    max-width: 540px;
    width: 100%;
  }

  .app-tweet-item-card-surround {
    margin: $tweetMargin;
    width: 100%;

    mat-spinner {
      display: block;
      margin: 10px auto;
      opacity: 0.2;
    }
  }

  .app-tweet-item-card {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    display: block;
    margin: 0;
    min-height: 48px;
    padding: 0px;
    position: relative;
    z-index: 0;
    border-radius: 5px;
    border: 1px solid rgb(204, 214, 221);
    overflow-x: hidden;
    overflow-y: hidden;
    max-width: 500px;
    width: 100%;


  }

  .EmbeddedTweet-tweet {
    margin: 0;
    padding: 0;
  }

}

.app-tweet-list-end-tilde {
  opacity: 0.4;
}

.app-tweet-list-date-float {
  display: block;
  position: absolute;
  width: 100%;
  height: 1.5em;
  background: none;
  z-index: 10;

  .app-tweet-list-date-float-inner {
    background: #fefefe;
    display: block;
    width: 200px;
    text-align: center;
    padding: 4px;
    border-radius: 2px;
    margin: 4px auto;
    opacity: 0.9;
  }
}
